/*LAYOUT*/

.page {
    height: 100vh;
    background-color: rgb(250, 245, 230);
    font-family: sans-serif;
    padding: 2vh;
}

.block-outer {
    border-radius: 1rem;
    padding: 2px;
    background-color: rgb(215, 136, 106);
    height: fit-content;
}

.block-inner {
    width: 96vw;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(254, 251, 234);
}

.block-header {
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    text-align: center;
    color: rgb(254, 251, 234);
}

/*PHOTOS*/

.photo-container {
    display: flex;
    justify-content: center;
}

.photo-wrapper {
    position: relative;
}

.photo-circular {
    width: 40vw;
    height: 40vw;
    border-radius: 9999px;
    object-fit: cover;
}

/*FORMS*/

label {
    margin-top: 0.25rem;
    color: rgb(100, 100, 100);
    display: block;
    font-weight: bold;
}

.form-section {
    margin-top: 2rem;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    background-color: rgb(251, 243, 221);
    border: none;
    font-weight: bold;
}

/*BUTTONS*/

.button-corner-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.4rem 0.7rem;
    border-radius: 0.5rem;
    background-color: rgb(215, 136, 106);
    color: rgb(254, 251, 234);
    font-size: 1.0rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button-big {
    width: 100%;
    border-radius: 0.75rem;
    margin-top: 1.25rem;
    background-color: rgb(215, 136, 106);
    color: rgb(254, 251, 234);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button-light {
    width: 100%;
    border-radius: 0.75rem;
    margin-top: 1rem;
    background-color: rgb(225, 146, 116);
    color: rgb(254, 251, 234);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

/*ERROR HANDLING*/

.error-message {
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin-top: 0.5rem;
}

/*MAP*/

.map {
    width: 100%;
    height: 50vh;
}