@inherits LayoutComponentBase

@inject LayoutState layoutState

<div class="container py-4">
	<div class="card">
		<div class="card-header">
			<h2 class="mb-0">@layoutState.Header</h2>
		</div>
		<div class="card-body">
			@if (layoutState.HasError)
			{
				<div class="alert alert-danger" role="alert">@layoutState.ErrorMessage</div>
			}

			<main>
				@Body
			</main>
		</div>
	</div>
</div>

@code {
	protected override void OnInitialized()
	{
		layoutState.ErrorMessage = string.Empty;

		layoutState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		layoutState.OnChange -= StateHasChanged;
	}
}
