@page "/chats"

@using Socializer.Client
@using Socializer.Shared
@using Socializer.Shared.Dtos

@inject ISocializerClient socializerClient
@inject LayoutState layoutState
@inject NavigationManager navigation

<ul style="list-style-type:none; padding:0;">
    @foreach (var chat in chats)
    {
        <li style="margin-bottom: 10px;">
            <button @onclick="() => OnUserChatClicked(chat)" style="width:100%; padding:10px;">
                Participants: @String.Join(", ", chat.Usernames)
            </button>
            <button class="button-light" @onclick="() => DeleteChatAsync(chat.Id)">Remove</button>
        </li>
    }
</ul>

@code {
    private IEnumerable<ChatDto> chats = [];

    protected override async Task OnInitializedAsync()
    {
        layoutState.Header = $"Chats";

        var chatsResult = await socializerClient.GetMyChatsAsync();

        if (chatsResult.IsSuccess)
            chats = chatsResult.Result;
    }

    private void OnUserChatClicked(ChatDto chat)
    {
        navigation.NavigateTo($"/chat/{chat.ChatHash}");
    }

    private async Task DeleteChatAsync(Guid chatId)
    {
        await socializerClient.DeleteMyChatAsync(chatId);
    }
}